<%= errors_for(f.object) %>

<p>Event</p>
<div class="styled-select">
<% if params.has_key?(:event_id) %>
 <%= f.select(:event_id, Event.all.map {|e| [e.event_name, e.id]}, :selected => params[:event_id]) %>
<% else %>
 <%= f.select(:event_id, Event.all.map {|e| [e.event_name, e.id]}, :prompt => "- Select-") %>
<% end %>
</div>

<%= f.label :title %><br>
<%= f.text_field(:title) %>
<br>
<%= f.label(:description) %><br>
<%= f.text_area(:description, :rows => 10, :cols => 60) %>
<br>

<%= f.label(:date) %>
<%= f.date_field(:date) %>
<br>
<%= f.label(:time_from) %>
<%= f.time_field(:time_from) %>
<br>
<%= f.label(:time_to) %>
<%= f.time_field(:time_to) %>

<%= f.label(:speaker_id) %>
<div class="styled-select"><%= f.select(:speaker_id, Speaker.all.map {|h| [h.name, h.id]}, {:prompt => "- Select-"}, {:multiple => true, :size => 5}) %></div>
