<main>

  <div class="content-block content-block--sml">
    <h1>
        Sessions
      </h1>

      <p><%= link_to("Add session", new_session_path(event_id: params[:id]), :class => 'action new btn ') %></p>
      </div>

          <div class="sessions list">



<div class="content-block">

  <div class="responsive-table responsive-table--end">
    <div class="responsive-table__inner">
  <table id="table-styles" class="table table--striped">
    <thead>
      <tr class="table__row--inverted">
      <th>#</th>
      <th>Event</th>
      <th>Session</th>
      <th>Date</th>
      <th>Duration</th>

      <th>Actions</th>
    </tr>
  </thead>
  <% if @sessions.empty? %>
    <p>No sessions have been set up for this event. Click on the button above to set up your first session.</p>
  <% else %>
  <tbody>
    <% @sessions.each do |session| %>
    <tr>
      <td><%= session.id %></td>
      <td><%= session.event.event_name %></td>
      <td><%= session.title %></td>
      <td><%= session.date.strftime("%d %B %Y") %></td>
      <td><%= session.time_from.strftime("%H:%M") %> - <%= session.time_to.strftime("%H:%M") %></td>

      <td class="actions">
        <%= link_to("Show", session_path(session), :class => 'action show') %>
        <%= link_to("Edit", edit_session_path(session), :class => 'action edit') %>
        <%= link_to("Delete", delete_session_path(session), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
    </tbody>
    <% end %>
  </table>
</div></div></div></div>
</main>
