<%= errors_for(f.object) %>

<%= f.label :event_name %><br>
<%= f.text_field(:event_name) %>
<br>
<%= f.label(:date_from) %>
<%= f.date_field(:date_from) %>
<br>
<%= f.label(:date_to) %>
<%= f.date_field(:date_to) %>
<br>
<%= f.label(:host_id) %>
<div class="styled-select"><%= f.select(:host_id, Host.all.map {|h| [h.name, h.id]}, :prompt => "- Select-") %></div>
<br>
<%= f.label(:category_id) %>
<div class="styled-select"><%= f.select(:category_id, Category.all.map {|c| [c.name, c.id]}, :prompt => "- Select-") %></div>
