<div class="events index">
  <h2>Events</h2>

  <%= link_to("Add New Event", new_event_path, :class => 'action new') %>

  <table class="listing" summary="Event list">
    <tr class="header">
      <th>#</th>
      <th>Category</th>
      <th>Host</th>
      <th>Name</th>
      <th>Date from</th>
      <th>Date to</th>
      <th>Actions</th>
    </tr>
    <% @events.each do |event| %>
    <tr>
      <td><%= event.id %></td>
      <td><%= event.category.name %></td>
      <td><%= event.host.name %></td>
      <td><%= event.event_name %></td>
      <td><%= event.date_from.strftime("%d %B %Y") %></td>
      <td><%= event.date_to.strftime("%d %B %Y") %></td>
      <td class="actions">
        <%= link_to("Show", event_path(event), :class => 'action show') %>
        <%= link_to("Edit", edit_event_path(event), :class => 'action edit') %>
        <%= link_to("Delete", delete_event_path(event), :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
