<% content_for(:html_title) { @event.event_name } %>
<%= link_to("<< Back to events list", events_path, :class => 'back-link') %>

<div class="section bg-white">
  <div class="section__inner">

<div class="events show">
  <h2>Event details</h2>

  <table summary="event detail view">

    <tr>
      <th>Category</th>
      <td><%= @event.category.name %></td>
    </tr>
    <tr>
      <th>Host</th>
      <td><%= @event.host.name %></td>
    </tr>
    <tr>
      <th>Date from</th>
      <td><%= @event.date_from.strftime("%A, %d %B %Y")  %></td>
    </tr>
    <tr>
      <th>Date to</th>
      <td><%= @event.date_to.strftime("%A, %d %B %Y")  %></td>
    </tr>
    <tr>
      <th>Created</th>
      <td><%= @event.created_at.strftime("%d %B %Y - %H:%M") %></td>
    </tr>
    <tr>
      <th>Updated</th>
      <td><%= @event.updated_at.strftime("%d %B %Y - %H:%M") %></td>
    </tr>
  </table>

  <%= link_to("Update event", edit_event_path(@event.id), :class => 'btn') %>
  <%= link_to("Manage sessions", list_session_path(@event.id), :class => 'btn') %>
  <%= link_to("Delete", delete_event_path(@event.id), :class => 'btn') %>

</div>
</div>
</div>
