<%= errors_for(f.object) %>

<%= f.label(:title) %><br>
    <%= f.text_field(:title) %><br>

  <%= f.label(:name) %><br>
    <%= f.text_field(:name) %><br>

  <%= f.label(:email) %><br>
    <%= f.text_field(:email) %><br>

    <%= f.label(:speaker_role_id) %><br>
    <div class="styled-select"><%= f.select(:speaker_role_id, SpeakerRole.all.map {|h| [h.role, h.id]}, :prompt => "- Select-", :multiple => true) %></div>

  <%= f.label(:institution) %><br>
    <%= f.text_field(:institution) %><br>

  <%= f.label(:bio, :rows => 10, :cols => 60) %><br>
    <%= f.text_area(:bio, :rows => 10, :cols => 60) %><br>

  <%= (:image) %><br>
    <%= f.file_field(:image) %>
